# Backlog API Settings
BACKLOG_API_KEY=your_backlog_api_key_here
BACKLOG_SPACE_ID=cosmicb-2s (e.g. 'myspace' for myspace.backlog.com)
PROJECT_KEY=V2A9

# Application Settings
PORT=3030
HOLIDAY_CSV_PATH=./data/holidays.csv

# Custom Field IDs
CUSTOM_FIELD_ID_STATUS=16753
CUSTOM_FIELD_ID_RELEASE_DATE=16750
CUSTOM_FIELD_ID_PROGRESS=601439

# Issue Type IDs
ISSUE_TYPE_ID_ANKEN=224204
